.jsafo-bg-alpha {
	background:url("../graphics/alpha-white.png");
}
.jsafo-fullscreen {
	width:100%;
	height:100%;
}
.jsafo-modal {
	top:0px;
	left:0px;
	position:fixed;
	backface-visibility:hidden;
	-webkit-backface-visibility:hidden;
}

.Alert {
	max-width:250px;
	margin:10% auto;
	font-size:1em;
	color:inherit;
	display:block;
	overflow:hidden;
	padding:10px;
	background:#FFFFFF;
	border-radius:4px;
	box-shadow:2px 2px 2px #777;
}
.Alert .title {
	font-weight:bold;
	display:block;
}
.Alert .message {
	margin:10px;
}
.Alert .buttons {
	text-align:center;
}